.content {
    width: 300px;
}

.navlink {
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
}
.link {
    height: 40px;
    display: flex;
    width: 300px;
    position: relative;
    left: -260px;
    background-color: darkturquoise;
    align-items: center;
}

.open {
    left: 0;
    transition: left 2.5s;
}

.close {
    left: -260px;
    transition: left 2.5s;
}